@import "tailwindcss";

:root {
  font-family: Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

* {
  transition: all 0.3s ease-in-out;
}

button {
  cursor: pointer;
}

.circle {
  animation: up-and-down 1s alternate infinite;
}

@keyframes up-and-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}